<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Test</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <header>
        <h1>Some random test</h1>
    </header>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum officiis iure, quasi animi ratione, illum praesentium iusto quam similique officia distinctio sequi ea nihil. Laborum molestias omnis facere velit temporibus.
    </p>
</body>
</html>